:root {
    font-size: 10px;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
      line-height:1.2;
    background: #f0d7c5;
    color:#1a1817;
    margin: 0;
    height: 100%;
    padding: 0;
}

ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

main {
    width: 100%;
    max-width: 102.4rem;
    margin: 0 auto;
    height: 100%;
    max-height: 66rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.text-uppercase {
    text-transform: uppercase;
}

.trans-3 {
    transition: all .3s ease;
}

.floor {
    background: #dbc2af;
    width: 1000%;
    height: 17rem;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.wrap-sections {
    flex: 1;
    padding-top: 2rem;
}

.btn-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 5rem;
    height: 5rem;
    background: #ffb71b;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    font-size: 4rem;
    color: #005c5d;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-back:hover {
    background: #005c5d;
    color: #ffb71b;
}

/** Breed Products **/
.breed-products .wrap-products {
    background: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 7rem 0 7rem;
}
.breed-products .wrap-products .swiper-slide h4{
    margin:0 0 1rem;
}
.breed-products .wrap-products .swiper-slide .price{
    font-weight:bold;
    color:#005c5d;
}
.breed-products h1 .breed-name {
    color: #005c5d;
}

/** Breed Properties **/
.breed-properties .wrap-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breed-properties .wrap-details .wrap-pic {
    margin-right: 5rem;
}

.breed-properties .wrap-details .wrap-pic .breed-icon-wrap {
    width: 28rem;
    height: 28rem;
}

.breed-properties .wrap-details .wrap-info {
    max-width: 50rem;
}

.breed-properties .wrap-details .wrap-info ul {
    display: flex;
    flex-wrap: wrap;
}

.breed-properties .wrap-details .wrap-info ul li {
    flex: 0 1 45%;
    margin: 0 1rem;
}

.breed-properties .wrap-details .wrap-info ul li a {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    border-bottom: 2px solid #f9f0e9;
    color: #1a1817;
    text-align: left;
}

.breed-properties .wrap-details .wrap-info ul li a:hover {
    background: #e2c3ad;
}

.breed-properties .wrap-details .wrap-info ul li a .size {
    color: #005c5d;
}

/** Sizes Wrap **/
.sizes-wrap {
    position: relative;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 4.2rem;
    font-weight: 900;
    margin: 2rem 0;
    line-height: 1;
}

.sizes-wrap .wrap-alphabet ul {
    display: flex;
    justify-content: center;
}

.sizes-wrap .wrap-alphabet ul li {
    margin: 0 2px;
}

.sizes-wrap .wrap-alphabet ul li a {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50%;
    transition: all .3s ease;
    color: #005c5d;
}

.sizes-wrap .wrap-alphabet ul li a:hover, .sizes-wrap .wrap-alphabet ul li a.active {
    background: #ffb71b;
}

.sizes-wrap .swiper-list {
    position: relative;
    margin-top: 2rem;
}

.sizes-wrap .swiper-list .swiper-wrapper {
    top: 4rem;
    position: relative;
}

.sizes-wrap .swiper-container-horizontal>.swiper-scrollbar {
    top: 0;
    height: .8rem;
}

.sizes-wrap .swiper-container-horizontal>.swiper-scrollbar .swiper-scrollbar-drag {
    background: #8f1637;
}

/* aside Breed*/
aside.breed {
    text-align: center;
    cursor: pointer;
    position: relative;
}

aside.breed:hover .breed-icon-wrap {
    background: #018081;
}

.breed-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background: #005c5d;
    border-radius: 50%;
    margin: 0 auto 3rem;
}

aside.breed:after {
    content: '';
    display: block;
    height: 1rem;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #454545;
    position: absolute;
    top: 20rem;
    filter: blur(1rem);
    border-radius: 50%;
}

aside.breed .breed-name {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

/* Reviews Pane */
.reviews-pane{
    text-align:center;
}
.reviews-pane .counter{
    font-size:2rem;
    color:#005c5d;
    font-weight:bold;

}
.reviews-pane .questions .q-title{
    margin:2rem auto;
    font-size:2rem;
        max-width:70%;
}
.reviews-pane .smiles{
    display:flex;
    max-width:70%;
    margin:0  auto;
}
.reviews-pane .smiles .smile{
    margin:0  2rem;
    cursor: pointer;
}
.reviews-pane .smiles .smile-title{
    color:#005c5d;
    font-weight:bold;
    margin:1rem 0;
}
.reviews-pane .smiles  .smile-desc{
    font-size:1.2rem;
    line-height:1.2;
}

/** Menu **/
.wrap-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    bottom: 0;
}

.wrap-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #8f1637;
    flex: 1;
    text-align: center;
    padding: 2.2rem 2rem;
    font-size: 2.2rem;
    font-weight: bold;
    border-top: 5px solid #dbc2af;
}

.wrap-menu a:hover, .wrap-menu a.active {
    background: #ffb71b;
    color: #8f1637;
    border-top-color: #8f1637;
}
